* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main {
	background: black;
	border: 2px solid red;
	width: 600px;
	height: 600px;
}
