* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	background: blue;
	padding: 1.2em 1.5em;
	border: none;
	font-size: 1.1rem;
	color: white;
	border-radius: 10px;
	margin: 1em;
}
button:hover { opacity: .8; }

#main {
	background: black;
	border: 2px solid red;
	width: 600px;
	height: 600px;
}
